## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [5]:
import pandas as pd

In [4]:
# загружаем датасет
data = pd.read_csv("/content/pandas_numpy_tasks/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

**1. Counting by Gender Count how many men and women (feature sex) are represented in this dataset.**

In [16]:
gender_counts = data['sex'].value_counts()
print(gender_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

**2.** Average Age of Men What is the average age (feature age) of men across the entire dataset?

In [20]:
avg_age_men = data[data['sex'].str.strip() == 'Male']['age'].mean()
print(avg_age_men)

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

**3. Proportion of US Citizens What is the proportion of United States citizens (feature native-country)?**

In [22]:
proportion = data[data['native-country'].str.strip() == 'United-States'].shape[0] / data.shape[0]
print(proportion)

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

**4-5. Salary-Based Age Statistics Calculate the mean and standard deviation of age for those who earn more than 50K per year (feature salary) and those who earn less than 50K per year.**

In [35]:
mean_age_salary_more_than_50k = data[data['salary'].str.strip() == '>50K']['age'].mean()
std_salary_more_than_50k = data[data['salary'].str.strip() == '>50K']['age'].std()
print("Mean Age for those earning more than 50k:", mean_age_salary_more_than_50k)
print("Standard Deviation for those earning more than 50k:", std_salary_more_than_50k)

mean_age_salary_less_than_50k = data[data['salary'].str.strip() == '<=50K']['age'].mean()
std_salary_less_than_50k = data[data['salary'].str.strip() == '<=50K']['age'].std()
print("Mean Age for those earning more than 50k:", mean_age_salary_less_than_50k)
print("Standard Deviation for those earning more than 50k:", std_salary_less_than_50k)

Mean Age for those earning more than 50k: 44.24984058155847
Standard Deviation for those earning more than 50k: 10.51902771985177
Mean Age for those earning more than 50k: 36.78373786407767
Standard Deviation for those earning more than 50k: 14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

**6. Education Level vs. Salary Is it true that people who earn more than 50K all have at least a higher education? (feature education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, or Doctorate)**

In [40]:
salary_more_than_50k = data[data['salary'].str.strip() == '>50K']['education'].value_counts()
print(salary_more_than_50k)

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

As you can see from the query, it is not true that every person earning more than 50k have at least higher education(Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, or Doctorate)

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

**7. Age Statistics by Race and Gender Display age statistics for each race (feature race) and each gender. Use groupby and describe. Based on this, find the maximum age of men of the Asian-Pac-Islander race.**

In [ ]:
# your code

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
# your code

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
# your code

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
# your code

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [ ]:
# your code

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [ ]:
# your code

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [ ]:
# your code