## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3]:
import pandas as pd
!git clone https://github.com/shehabeldin-mohamed/pandas_numpy_tasks.git

Cloning into 'pandas_numpy_tasks'...
remote: Enumerating objects: 34, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 34 (delta 12), reused 6 (delta 6), pack-reused 18 (from 1)
Receiving objects: 100% (34/34), 441.62 KiB | 2.47 MiB/s, done.
Resolving deltas: 100% (14/14), done.

In [4]:
# загружаем датасет
data = pd.read_csv("/content/pandas_numpy_tasks/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

**1. Counting by Gender Count how many men and women (feature sex) are represented in this dataset.**

In [5]:
gender_counts = data['sex'].value_counts()
print(gender_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

**2.** Average Age of Men What is the average age (feature age) of men across the entire dataset?

In [75]:
avg_age_men = data[data['sex'].str.strip() == 'Male']['age'].mean()
print("Avg age:",avg_age_men)

Avg age: 39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

**3. Proportion of US Citizens What is the proportion of United States citizens (feature native-country)?**

In [74]:
proportion = data[data['native-country'].str.strip() == 'United-States'].shape[0] / data.shape[0]
print("Proportion:",proportion)

Proportion: 0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

**4-5. Salary-Based Age Statistics Calculate the mean and standard deviation of age for those who earn more than 50K per year (feature salary) and those who earn less than 50K per year.**

In [8]:
mean_age_salary_more_than_50k = data[data['salary'].str.strip() == '>50K']['age'].mean()
std_salary_more_than_50k = data[data['salary'].str.strip() == '>50K']['age'].std()
print("Mean Age for those earning more than 50k:", mean_age_salary_more_than_50k)
print("Standard Deviation for those earning more than 50k:", std_salary_more_than_50k)

mean_age_salary_less_than_50k = data[data['salary'].str.strip() == '<=50K']['age'].mean()
std_salary_less_than_50k = data[data['salary'].str.strip() == '<=50K']['age'].std()
print("Mean Age for those earning more than 50k:", mean_age_salary_less_than_50k)
print("Standard Deviation for those earning more than 50k:", std_salary_less_than_50k)

Mean Age for those earning more than 50k: 44.24984058155847
Standard Deviation for those earning more than 50k: 10.51902771985177
Mean Age for those earning more than 50k: 36.78373786407767
Standard Deviation for those earning more than 50k: 14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

**6. Education Level vs. Salary Is it true that people who earn more than 50K all have at least a higher education? (feature education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, or Doctorate)**

In [26]:
high_edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
salary_more_than_50k_high_edu = data[
    (data['salary'].str.strip() == '>50K') &
    (data['education'].str.strip().isin(high_edu))
]['education'].value_counts()
salary_more_than_50k_high_edu

education
Bachelors      2221
Masters         959
Prof-school     423
Assoc-voc       361
Doctorate       306
Assoc-acdm      265
Name: count, dtype: int64

In [27]:
high_edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
salary_more_than_50k_not_high_edu = data[
    (data['salary'].str.strip() == '>50K') &
    (~data['education'].str.strip().isin(high_edu))
]['education'].value_counts()
salary_more_than_50k_not_high_edu

education
HS-grad         1675
Some-college    1387
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

As you can see from the query, it is not true that every person earning more than 50k have at least higher education(Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, or Doctorate)

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

**7. Age Statistics by Race and Gender Display age statistics for each race (feature race) and each gender. Use groupby and describe. Based on this, find the maximum age of men of the Asian-Pac-Islander race.**

In [24]:
statistics_gender_race = data.groupby(['race','sex'])['age'].describe()
statistics_gender_race

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [73]:
max_age_Asian_Pac_Islander = statistics_gender_race.loc[('Asian-Pac-Islander', 'Male'), 'max']
print("Max Age:", max_age_Asian_Pac_Islander)

Max Age: 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

**8. Marriage Status and Income Among whom is the proportion of high earners (>50K) greater: married or single men (feature marital-status)? Consider married those whose marital-status begins with Married (Married-civ-spouse, Married-spouse-absent, or Married-AF-spouse); consider the rest as single.**

In [108]:
Married = ['Married-civ-spouse', 'Married-spouse-absent','Married-AF-spouse']
salary_greater_than_50k_married = data[(data['salary'].str.strip() == '>50K') &
                                       (data['marital-status'].isin(Married))].value_counts().sum()
print("Number of Married people earning more than 50k:",salary_greater_than_50k_married)

Number of Married people earning more than 50k: 6736

In [109]:
Married = ['Married-civ-spouse', 'Married-spouse-absent','Married-AF-spouse']
salary_greater_than_50k_single = data[(data['salary'].str.strip() == '>50K') &
                                       (~data['marital-status'].isin(Married))].value_counts().sum()
print("Number of Single people earning more than 50k:",salary_greater_than_50k_single)

Number of Single people earning more than 50k: 1105

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

**9. Maximum Work Hours What is the maximum number of hours a person works per week (feature hours-per-week)? How many people work this number of hours, and what is the percentage of high earners among them?**

In [46]:
max_number_hours_per_week = data['hours-per-week'].max()
print("Max Number of hours per week:",max_number_hours_per_week)

Max Number of hours per week: 99

In [47]:
number_persons = data.shape[0]
print("Total number of persons:", number_persons)

number_persons_max_hours_per_week = data[data['hours-per-week'] == max_number_hours_per_week].value_counts().sum()
print("Total number of persons working max number of hours per week:",number_persons_max_hours_per_week)

Total number of persons: 32561
Total number of persons working max number of hours per week: 85

In [58]:
number_persons_max_hours_per_week_salary_greater_than_50k = (data[(data['hours-per-week'] == max_number_hours_per_week) &
                                                                 (data['salary'].str.strip() == '>50K')].value_counts().sum()/ number_persons_max_hours_per_week) * 100
number_persons_max_hours_per_week_salary_greater_than_50k
print("Total number of persons working max number of hours per week earning more than 50K: "+str(round(number_persons_max_hours_per_week_salary_greater_than_50k)) +"%")

Total number of persons working max number of hours per week earning more than 50K: 29%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

**10. Work Hours by Country and Salary Calculate the average work time (hours-per-week) for low and high earners (salary) for each country (native-country).**

In [63]:
statistics_work_hours = data.groupby(['native-country','salary'])['hours-per-week'].describe()
statistics_work_hours

                        count       mean        std   min    25%   50%   75%  \
native-country salary
?              <=50K    437.0  40.164760  12.817002   1.0  40.00  40.0  45.0
               >50K     146.0  45.547945  10.202827   8.0  40.00  40.0  50.0
Cambodia       <=50K     12.0  41.416667   3.088346  40.0  40.00  40.0  40.5
               >50K       7.0  40.000000   0.000000  40.0  40.00  40.0  40.0
Canada         <=50K     82.0  37.914634  13.012056   8.0  32.75  40.0  40.0
...                       ...        ...        ...   ...    ...   ...   ...
United-States  >50K    7171.0  45.505369  11.025092   1.0  40.00  40.0  50.0
Vietnam        <=50K     62.0  37.193548  12.422664   1.0  40.00  40.0  40.0
               >50K       5.0  39.200000   1.788854  36.0  40.00  40.0  40.0
Yugoslavia     <=50K     10.0  41.600000  11.305849  20.0  40.00  40.0  40.0
               >50K       6.0  49.500000  11.202678  40.0  40.00  46.0  58.0

                        max
native-country salary
?              <=50K   99.0
               >50K    80.0
Cambodia       <=50K   50.0
               >50K    40.0
Canada         <=50K   70.0
...                     ...
United-States  >50K    99.0
Vietnam        <=50K   77.0
               >50K    40.0
Yugoslavia     <=50K   66.0
               >50K    65.0

[82 rows x 8 columns]

In [70]:
#Low Earners
avg_work_hours_country_salary = data.groupby(['native-country','salary'])['hours-per-week'].mean()
avg_work_hours_country_salary.xs('<=50K',level='salary')

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

In [71]:
#High Earners
avg_work_hours_country_salary.xs('>50K',level='salary')

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

**11.Age Grouping Group people into age groups: young, adult, and retiree, where:**
* *young* 16–35 years old
* *adult* 35–70 years old
* *retiree* 70–100 years old

**Assign the corresponding group name to each person in a new column named AgeGroup.**

In [76]:
bins = [16, 35, 70, 100]
group_names = ['young', 'adult', 'retiree']
data['AgeGroup'] = pd.cut(data['age'], bins=bins, labels=group_names, include_lowest=True)

In [78]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

**12-13. High Earners by Age Group Determine the number of people earning >50K in each age group (AgeGroup column), and output the name of the age group that most frequently earns more than 50K.**

In [95]:
salary_greater_than_50K_age_group = data.groupby(['AgeGroup'], observed=True)['salary'].value_counts()
salary_greater_than_50K_age_group.xs('>50K',level='salary')

AgeGroup
young      1705
adult      6042
retiree      94
Name: count, dtype: int64

In [94]:
print(salary_greater_than_50K_age_group.xs('>50K',level='salary').idxmax())

adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

**14. Occupation Filtering Group people by occupation (column occupation) and determine the number of people in each group. Then, write a filtering function filter_func that returns only those groups where the average age is no more than 40 and where all workers work more than 5 hours per week.**

In [101]:
occupation_group = data['occupation'].value_counts()
occupation_group

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [107]:
def filter_func(x):
    cond1 = x['age'].mean() <= 40
    cond2 = (x['hours-per-week'] > 5).all()

    return cond1 and cond2
filtered_data = data.groupby('occupation').filter(filter_func)
result = filtered_data['occupation'].value_counts()
result

occupation
Armed-Forces    9
Name: count, dtype: int64